.content
  h1 Inkomstenstromen
  
  h2 Verkoop
  p.
    De hoofdinkomenstroom is de directe verkoop van de robots aan klanten.

  h2 Onderhoud en modernisering
  p.
    RoboReapers verzorgt ook onderhoud en modernisering, zodat klanten altijd de best mogelijke robots hebben.
  
  h2 On-site productie
  p.
    Een inkomstenstroom voor de langere termijn is afspraken maken met landen om een fabriek te bouwen in het land,
    zodat de robots niet geïmporteerd hoeven te worden.