.content
  h1 Kanalen
  
  h2 Directe verkoop
  p.
    We bereiken klanten voor directe verkoop vooral door reclame en aanbevelingen van bestaande klanten.
    Ook zullen goed uitegvoerde missies mogelijk het nieuws halen.
  
  h2 Onderaanneming
  p.
    Voor grote klanten kunnen we een fabriek bouwen in het land van de klant, of de klant dat zelf te laten doen.
    Vooral dit laatste is erg voordelig, omdat er bijna gratis geld binnenkomt.