.content
  h1 Kernactiviteiten
  
  h2 Kwalitatieve productie
  p.
    Door gericht te zijn op kwaliteit in plaats van kwantiteit bouwen we vertrouwen op bij de klant:
    met een killer robot is een dodelijke fout immers snel gemaakt.
  
  h2 Goede levering
  p.
    Door het product snel en veilig bij de klant af te leveren zorgen we ervoor dat de klant krijgt wat hij wil,
    en houden we ook onze technologie geheim, doordat we er zelf voor zorgen dat er onderweg niets fout gaat.

  h2 Vertrouwde band met klant
  p.
    Er zijn een beperkt aantal landen op de wereld, met een beperkt aantal legers. We moeten daarom sterk gericht zijn op het aanhouden van klanten,
    en het vertrouwen van die klanten winnen.