.content
  h1 Key partners
  p.
    Ons bedrijf heeft ook andere bedrijven nodig om te functioneren, zoals leveranciers van materialen,
    fabrikanten van kleinere onderdelen, of schoonmakers.
 
  h2 Leveranciers materialen
  p.
    Om robots te maken hebben we materialen nodig. Welke materialen nodig zijn is geen bedrijfsgeheim,
    dus dit kan prima aan een ander bedrijf overgelaten worden.

  h2 Leveranciers machines
  p.
    Welke machines er gebruikt worden, geen ook niks weg over hoe de robot in elkaar zit,
    dus die kunnen ook bij een ander bedrijf besteld worden.

  h2 Fabrikanten onderdelen
  p.
    Sommige onderdelen kunnen makkelijker gekocht worden in plaats van ze zelf te maken,
    zeker massa-geproduceerde onderdelen.